@import "tailwindcss";


.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 9999px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
  font-weight: bold;
}